################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ODD.Api.Core/ODD.Api.Core.sln
